<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724659656080-492j7oajin0el7t6gvujcm18ddfe07oo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724659656080-492j7oajin0el7t6gvujcm18ddfe07oo</string>
	<key>API_KEY</key>
	<string>AIzaSyDpk9kc3Tx90lsFFuMiSVqS9nFUKEE27ss</string>
	<key>GCM_SENDER_ID</key>
	<string>724659656080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Marvella.ShopifyApp</string>
	<key>PROJECT_ID</key>
	<string>rasha-al-beick</string>
	<key>STORAGE_BUCKET</key>
	<string>rasha-al-beick.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724659656080:ios:43bef717898543dbe6cf15</string>
</dict>
</plist>